@model Pizza
@{
    ViewData["Title"] = "Dettagli della Pizza";
}

<h1>Dettagli della Pizza</h1>
<div class="pizza-details">
    <h2>@Model.Name</h2>
    <img src="@Model.Image" alt="@Model.Name" class="pizza-image" />
    <p>@Model.Overview</p>
    <p><strong>Prezzo:</strong> @Model.Price €</p>
    <a asp-controller="Pizza" asp-action="Index" class="btn btn-primary">Torna alla lista delle pizze</a>
</div>

